:root {
  --color-primary: #415165;
  --color-primary-light: #96A9C4;
  --color-secondary: #A00404;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 24px;
  line-height: 1.5;
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.container-lg {
  margin: 0 auto;
  width: 1200px;
}

.container-md {
  margin: 0 auto;
  width: 996px;
}

.container-img {
  position: relative;
  width: 100px;
  height: 100px;
}

.container-img>img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

img {
  vertical-align: middle;
}

.py-48 {
  padding-block: 48px;
}

h1 {
  border-bottom: 2px solid #000;
  padding-top: 40px;
  padding-bottom: 24px;
  font-size: 80px;
  line-height: 95px;
}

h2 {
  margin-bottom: 16px;
  border-bottom: 1px solid #000;
  padding-bottom: 8px;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
}

h2 span {
  display: inline-block;
  padding-left: 16px;
  font-size: 24px;
  font-weight: 700;
}

.text-color-secondary {
  color: var(--color-secondary);
}

.profile,
.education,
.skills {
  margin-bottom: 64px;
}

.profile ul {
  margin-bottom: 24px;
}

.profile ul:last-of-type {
  margin-bottom: 0;
}

.education ul>li {
  margin-bottom: 16px;
}

.education>ul>li:last-of-type {
  margin-bottom: 0;
}

.skills,
.contact {
  padding-top: 24px;
  padding-bottom: 40px;
  text-align: center;
  color: white;
  background-color: var(--color-primary);
}

.skills ul {
  display: inline-block;
  margin-top: 40px;
  border-left: 1px solid var(--color-primary-light);
  padding-left: 24px;
  text-align: start;
}

.skills ul>li {
  margin-bottom: 8px;
}

.skills ul>li:last-of-type {
  margin-bottom: 0;
}

.work {
  margin-bottom: 80px;
}

.work ul {
  margin-left: 24px;
  border-left: 1px solid var(--color-primary-light);
  padding-left: 24px;
}

.work ul>li {
  margin-bottom: 24px;
}

.work ul>li:last-of-type {
  margin-bottom: 0;
}

.work ul>li>h3 {
  font-weight: 600;
}

.work ul>li>p {
  font-size: 20px;
}

.skills h2,
.contact h2 {
  margin-bottom: 0;
  border-bottom: 1px solid #FFF;
}

.contact ul>li {
  margin-bottom: 16px;
}

.contact .contact-icons {
  font-size: 0;
}

.contact .contact-icons a {
  display: inline-block;
  margin-right: 24px;
}

.contact .contact-icons a:last-of-type {
  margin-right: 0;
}

.contact ul {
  margin-top: 24px;
}